body {
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}
div {
    margin: 10px;
    cursor: pointer;
}
img {
    display: none;
}
img:first-child {
    display: block;
}